Flask==3.1.1
Flask_Cors==3.0.10
glob2==0.7
invoke==2.2.0
matplotlib==3.9.3
nltk==3.9.1
numpy==1.26.4 
optuna==4.4.0
pandas==2.3.0
pdfplumber==0.11.7
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
spacy==3.7.4
thinc==8.2.5
tqdm==4.67.1
typer==0.9.0
wasabi==1.1.3
